@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
}

/* clock */
#clocks {
    width: 100%;
    font-size: 2vw;
    color: yellow;
    margin-top: 30px;
}

#clock {
    font-family: "Courier New", Courier, monospace; /* Sử dụng font monospace */
}

/* navbar */
.navbar {
    overflow-x: hidden;
}

.navbar-brand img {
    height: 2rem;
    width: 60px;
}

.caption{
    z-index: 1;
    position:absolute;
    top: 50%;
    text-align: center;
}

.navbar-dark {
    padding: .5rem 1rem;
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.navbar .nav-item {
    padding-right: 0.9rem;

}

.navbar .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #00b3ff !important;
}

.btn {
    padding: 5px;
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
}

.about i {
    color: #00b3ff;
}

.jumbotron {
    margin-bottom: 0;
}

.portfolio-item {
    overflow: hidden;
}

/* portfolio */
.portfolio-item img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.offset::before {
    content: "";
    height: 3.875rem;
    margin-top: -3.875rem;
    display: block;
}

/* fixed landing  */
.landing {
    position: relative;

    /* top:0; */
    height: 100vh;
    width: 100%;
    display: table;
    z-index: -1;
}

.home-wrap {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    display: table;
    position: fixed;
    /* background-image: url(/img/landing.jpg); */
    background-image: url(../img/binhyen5.jpg);
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.footer {
    background: #565b61;

}

.footer img {
    height: 2rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.social {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 11.8rem;
}

.social li {
    margin: 0 auto;
    padding-right: 1.2rem;
    /* display: inline; */
}

.social .a:hover {
    color: #00b3ff
}

.socket {
    border-top: solid .2rem #666b71;
}

@media(max-width:767.98px) {
    #clock {
        width: 100%;
        font-size: 5vw;
        color: yellow;
        margin-top: 30px;
    }
}

/* <!-- carousel --> */
.carousel-item .col-12 {
    display: block;
}

/* Trên màn hình lớn (laptop, desktop) hiển thị 3 ảnh */
@media (min-width: 768px) {
    .carousel-item .col-md-4 {
        display: block;
    }
}

.carousel-inner img{
  
    max-width: 100%; /* Đảm bảo ảnh không vượt quá khung chứa */
    max-height: 100%; /* Giới hạn chiều cao ảnh */
    object-fit: cover; /* Giữ tỷ lệ, cắt phần thừa nếu cần */
    width: auto; /* Đảm bảo tỷ lệ không bị bóp méo */
    height: 50vh; /* Tự điều chỉnh chiều cao theo tỷ lệ */
    display: block;

}
.carousel-caption{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.carousel-caption h1{
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: .1rem .1rem .1rem black;
    letter-spacing: 10px;
}
.carousel-caption h3{
    font-size: 3rem;
    text-shadow: .1rem .1rem .1rem black;
    padding-bottom: 10px;
}



